{% extends 'layouts/base.html' %} {% block title %} {{title}} {% endblock %}
{%block content %} {% load static %}

<div class="cont_info">
    <h1>Curriculum</h1>
    <div class="info_curr">
      <div class="educacion">
        <h3>Educación</h3>
        <hr />
        <ul>
          <li>
            Bachillerato
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Tecnico Sistemas
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Rep. de celulares
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Fotografia
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Master JavaScript
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Master en CSS
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Master Python
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Master ReactJS
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
        </ul>
      </div>
      <div class="experiencia">
        <h3>Experiencia</h3>
        <hr />
        <ul>
          <li>
            Coruniversitec
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Espacio y mercadeo
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Centrycom
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            JM Sistemas
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            COS <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Servihoteles LTDA
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Hoteles Nordia SAS
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
        </ul>
      </div>
      <div class="conocimientos">
        <h3>Conocimientos</h3>
        <hr />
        <ul>
          <li>
            Zeus Hotelero
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Helisa
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Wordpress
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
        </ul>
      </div>
      <div class="logros">
        <h3>Logros</h3>
        <hr />
        <ul>
          <li>
            Medalla Guardia Precidencial
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
          <li>
            Mencion honorifica
            <a href="#"> <i class="fa-solid fa-file-pdf"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
