{% extends 'layouts/base.html' %} {% block title %} {{title}} {% endblock %}
{%block content %} {% load static %}

<div class="cont_info">
  <h1>{{title}}</h1>
  <div class="menu_category">
    <ul>
      <li><a href="#">all</a></li>
      <li><a href="#">web</a></li>
      <li><a href="#">aplicaciones</a></li>
    </ul>
  </div>
  <div class="works">
    {% for porta in portafolio %}
    <article class="works-item">
      <div class="mask">
        <img src="{{porta.image.url}}" alt="{{porta.name}}" />
      </div>
      <span>{{porta.categories}}</span>
      <h2><a href="#">{{porta.name}}</a></h2>
      <h3>{{porta.lenguajes}}</h3>
    </article>

    {% endfor %} {% endblock %}
  </div>
</div>
