{% extends 'layouts/base.html' %} {% load static %} {% block title %} {{title}}
{%endblock %} {% block content %}

<div class="cont_info">
  <div class="header-title">
    <h1>{{title}}</h1>
    <div class="add">
      <a href="{% url 'add-client' %}">+</a>
    </div>
  </div>
  <div class="box-gallery">
    {% for client in clients %}
    <div class="box-client">
      <img src="{{client.image.url}}" alt="{{client.name}}" />
      <div class="detail">
        <h3>{{client.name}}</h3>
        <a href="{% url 'client' client.id %}">
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "complementos/paginatior.html" %}
</div>
{% endblock %}
