.header-title {
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0px 0px 5px 0px #ddd ; */
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.header-title .add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* color: #D23130; */
  font-weight: bold;
  transition: all 200ms;
}

.header-title .add:hover {
  color: red;
  cursor: pointer;
}

.box-pag,
.box-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  margin-top: 25px;
}

/* .box-pag {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid red;
} */

.box-client {
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px #ccc;
  border-radius: 8px;
}

.box-client img {
  width: 100%;
  height: 80%;
}

.box-client h3 {
  /* margin-top: 5px;
    margin-bottom: 5px; */
  padding: 8px 10px;
}

.box-client .detail {
  display: flex;
  height: 15%;
  width: 92%;
  margin-top: 5px;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 20px;
}

.box-client .detail h3 {
  display: block;
  font-size: 17px;
  color: #333;
  margin-top: 0px !important;
}

.box-client .detail a {
  text-decoration: none;
  color: black;
  transition: all 200ms;
}

.box-client .detail a:hover {
  color: #ffcc00;
}

.box-client .detail i {
  font-size: 17px;
  font-weight: bold;
}

.add a {
  text-decoration: none !important;
  color: #000;
}

.add a:hover {
  color: #ffcc00;
}

.formulario {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px #000;
  border-radius: 5px;
  width: 50%;
  margin-top: 50px;
  font-family: "VarelaRound";
  font-size: 18px;
  padding: 45px 30px;
}

.formulario .box-form {
  margin-top: 5px;
  margin-bottom: 15px;
}

.formulario .box-form input {
  display: block;
  width: 92%;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.formulario .btn-add {
  display: block;
  margin-top: 15px !important;
}

.box-client .detail-pag {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 98%;
  /* border: 1px solid red; */
  text-align: center;
}

.box-client .detail-pag h3 {
  margin-top: 0px;
  font-size: 15px;
  padding: 0px;
}

.box-client .detail-pag span {
  margin-top: 0px;
  font-size: 10px;
}
